# Python
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Veritabanı ve Çevre Değişkenleri
*.db
*.sqlite
.env

# Sanal Ortamlar
.venv/
venv/
env/
ENV/

# IDE / Editörler
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Dosyaları
.DS_Store
Thumbs.db
